<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
</head>
<body>
    {% block body %}
    {% endblock %}
    <script src="{{url_for('static', filename='js/layout.js')}}"></script>
    <!--<iframe src="https://docs.google.com/viewer?srcid=1YzzjYfhs-GebIZ1xfpnEMAbB7XJsePI_&pid=explorer&efh=false&a=v&chrome=false&embedded=true" ></iframe>-->
    
</body>
</html>